.w3-progress-circular {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    overflow: visible;
    position: relative;
}

.w3-progress-circular-svg {
    transform: rotate(-90deg);
    overflow: visible;
}

.w3-progress-circular-track {
    fill: none;
    opacity: 0.24;
    stroke-linecap: round;
    stroke: currentColor;
    transition: stroke 0.2s ease;
}

.w3-progress-circular-indicator {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.25s ease;
}

.w3-progress-circular-label {
    font-size: 0.825rem;
    font-weight: 600;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.w3-progress-circular-indeterminate .w3-progress-circular-indicator {
    animation: 1.2s linear infinite w3-progress-circular-rotate,
        1.6s ease-in-out infinite w3-progress-circular-dash;
    stroke-dasharray: 20, 280;
    stroke-dashoffset: 0;
    transform-origin: 50% 50%;
}

@keyframes w3-progress-circular-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes w3-progress-circular-dash {
    0% {
        stroke-dasharray: 1, 100;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 80, 100;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 80, 100;
        stroke-dashoffset: -100;
    }
}
