@using W3Css.Blazor.Internal
@inherits W3ComponentBase

<div @attributes="AdditionalAttributes"
     class="@CssClass"
     style="@Style">
    @ChildContent
</div>

@code {
    private string CssClass => BuildClass(
        Section ? "w3-section" : null,
        Margin.ToClass(),
        Padding.ToClass(),
        TopPadding.ToClass(),
        Color.ToBackgroundClass(),
        TextColor.ToTextClass(),
        Round.ToClass());

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Section { get; set; }

    [Parameter]
    public W3Margin Margin { get; set; } = W3Margin.None;

    [Parameter]
    public W3Padding Padding { get; set; } = W3Padding.None;

    [Parameter]
    public W3TopPadding TopPadding { get; set; } = W3TopPadding.None;

    [Parameter]
    public W3Color Color { get; set; } = W3Color.None;

    [Parameter]
    public W3Color TextColor { get; set; } = W3Color.None;

    [Parameter]
    public W3Round Round { get; set; } = W3Round.None;
}
